*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; 
    background-color: rgb(22, 82, 247);
    font-family: 'Poppins', sans-serif;
}

.logo{
    color:rgb(236, 225, 225);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo a{
    color:rgb(236, 225, 225);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 25px;

}
.nav-links{
    display: flex;
    background-color: rgb(22, 82, 247);
    justify-content: space-around;
    width: 35%;
}

.nav-links a{
    color:rgb(226, 215, 215);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(236, 225, 225);
    margin: 5px;
    transition: all 0.3s ease;
}

.header {
    padding: 250px;
    text-align: center;
    background-color: #361dc5;
    color: white;
    font-size: 30px;
  }

  .header2 {
    padding: 250px;
    text-align: center;
    background: rgb(22, 82, 247);
    color: white;
    font-size: 30px;
  }
  .header3 {
    padding: 250px;
    text-align: center;
    background: #361dc5;
    color: white;
    font-size: 30px;
  }
  
  .h4 {
    padding: 250px;
    text-align: center;
    background: rgb(22, 82, 247);
    color: white;
    font-size: 30px;
  }


  p {
      border: 50px;
      padding: 50px;
  }





@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: (165, 38, 38);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%) ;
        transition: transform .5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
    
    .nav-active{
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle.line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle.line2{
        opacity: 0;
    }
    .toggle.line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}

